body{ background-color: black;
    color: whitesmoke;
    text-align: centre;
}
h2 {color: rgb(205, 205, 126);
    text-decoration: underline;
    text-align: center;

}
#poster {
    margin: auto;
    display: block;
}